/* START: Basic application styles */

@font-face {
	font-family: Overseer;
	src: url(../fonts/Overseer.otf);
}

@keyframes animatedLoader {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
}

@keyframes gameCellChecked {
	0% {
		background-color: rgba(0, 255, 0, 0.17);
	}
	25% {
		background: transparent;
	}
	50% {
		background-color: rgba(0, 255, 0, 0.17);
	}
	75% {
		background: transparent;
	}
	100% {
		background-color: rgba(0, 255, 0, 0.17);
	}
}

@keyframes gameCellWinner {
	0% {
		background: rgb(0, 255, 0);
	}
	25% {
		color: #00ff00;
		background: transparent;
	}
	50% {
		background: rgb(0, 255, 0);
	}
	75% {
		color: #00ff00;
		background: transparent;
	}
	100% {
		background: rgb(0, 255, 0);
	}
}

@keyframes promptActive {
	0% {
		opacity: 0;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	25% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3);
	}
	50% {
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	75% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes spinner {
	from {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to {
		opacity: 1;
		-webkit-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

#robco-doc,
#robco-doc * {
	cursor: url('../img/robco-cursor.png'), auto !important;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 255, 0, 0.20);
}

*::-webkit-scrollbar-thumb {
	background-color: #00ff00;
}

#robco-doc,
#robco-app,
#robco-loading,
#robko-screen {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: Overseer, Arial, helvetica, sans-serif;
	font-size: 29px;
	color: #00ff00;
	-webkit-font-smoothing: antialiased;
}

a, a:hover {
	cursor: url('../img/robco-cursor.png'), auto;
	font-family: Overseer, Arial, helvetica, sans-serif;
	text-decoration: none;
	color: #00ff00;
}

#robco-loading,
#robko-screen {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	min-width: 1111px;
}

#robco-loading {
	background: #fff url('../img/robco-loading-bg.jpg') no-repeat center;
	-webkit-animation: animatedLoader 6s linear;
	animation: animatedLoader 6s linear;
	z-index: 9999;
}

#robko-screen {
	background: #fff url('../img/robco-main-bg.jpg') no-repeat center;
	z-index: 1;
}

#robco-terminal {
	position: absolute;
	background: transparent;
	width: 878px;
	height: 692px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-border-radius: 182px;
	-moz-border-radius: 182px;
	border-radius: 150px;
	padding: 36px 46px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 101;
}

/* END: Basic application styles */

/* START: Main menu styles */

.robco-heading-container {
	padding-bottom: 40px;
}

.robco-heading-container .robco-heading {
	font-size: 36px;
}

.robco-heading-container .robco-sub-heading {
	font-size: 27px;
}

.robco-panel {
	clear: both;
}

.robco-bottom-panel {
	position: absolute;
	bottom: 46px;
	left: 46px;
	width: 784px;
}

.robco-panel li,
.robco-panel li a {
	display: block;
	width: 100%;
}

.robco-panel li a {
	padding: 4px 1px;
	background-color: transparent;
	color: #00ff00;
	-webkit-transition: background-color 0.1s ease-in, color 0.1s linear;
	-moz-transition: background-color 0.1s ease-in, color 0.1s linear;
	-o-transition: background-color 0.1s ease-in, color 0.1s linear;
	transition: background-color 0.1s ease-in, color 0.1s linear;
}

.robco-panel li a:hover {
	background-color: #00ff00;
	color: #004300;
}

.robco-panel.robco-title-panel {
	margin-top: 12px;
}

.robco-italic-style {
	font-size: 26px;
	font-weight: normal;
	font-style: italic;
}

/* END: Main menu styles */

/* START: Radio switch styles */

.robco-radio-switch {
	position: absolute;
	bottom: 40px;
	z-index: 2;
}

/* END: Radio switch styles */

/* START: Game field */

#robco-game-field {
	width: 360px;
	padding: 10px;
	border: 3px solid;
	float: left;
	position: relative;
}

#robco-game-field:after {
	content: "";
	clear: both;
	display: block;
}

#robco-game-field .robco-game-grid-item {
	float: left;
	width: 120px;
	height: 120px;
	display: block;
	box-sizing: border-box;
	border: 1px solid #00ff00;
	background-color: transparent;
	-webkit-transition: background-color 0.1s ease-in;
	-moz-transition: background-color 0.1s ease-in;
	transition: background-color 0.1s ease-in;
	position: relative;
	overflow: hidden;
}

#robco-game-field .robco-game-grid-item i {
	position: absolute;
	top: 0;
	left: 3px;
	font-size: 20px;
}

#robco-game-field .robco-game-grid-item:nth-child(1) {
	border-left: none;
	border-top: none;
}

#robco-game-field .robco-game-grid-item:nth-child(2) {
	border-top: none;
}

#robco-game-field .robco-game-grid-item:nth-child(3) {
	border-top: none;
	border-right: none;
}

#robco-game-field .robco-game-grid-item:nth-child(4) {
	border-left: none;
}

#robco-game-field .robco-game-grid-item:nth-child(6) {
	border-right: none;
}

#robco-game-field .robco-game-grid-item:nth-child(7) {
	border-left: none;
	border-bottom: none;
}

#robco-game-field .robco-game-grid-item:nth-child(8) {
	border-bottom: none;
}

#robco-game-field .robco-game-grid-item:nth-child(9) {
	border-right: none;
	border-bottom: none;
}

#robco-game-field .robco-game-grid-item:hover {
	background-color: rgba(0, 255, 0, 0.17);
}

#robco-game-field .robco-game-grid-item[data-marker="x"]:not(.robco-item-win),
#robco-game-field .robco-game-grid-item[data-marker="o"]:not(.robco-item-win) {
	background-color: rgba(0, 255, 0, 0.17);
	-webkit-animation: gameCellChecked 1.5s ease-in-out;
	animation: gameCellChecked 1.5s ease-in-out;
}

#robco-game-field .robco-game-grid-item[data-marker="x"]:before,
#robco-game-field .robco-game-grid-item[data-marker="o"]:before {
	font-size: 172px;
	font-family: Arial helvetica sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 120px;
	width: 120px;
	height: 120px;
	-webkit-font-smoothing: antialiased;
}

#robco-game-field .robco-game-grid-item[data-marker="x"]:before {
	content: "\00d7";
}

#robco-game-field .robco-game-grid-item[data-marker="o"]:before {
	content: "o";
	font-family: inherit;
	line-height: 83px;
	font-size: 155px;
	left: 4px;
	-webkit-transform: scale(1.5, 1);
	-moz-transform: scale(1.5, 1);
	transform: scale(1.5, 1);
}

#robco-game-field .robco-game-grid-item[data-marker].robco-item-winner {
	color: #004300;
	background: rgb(0, 255, 0);
	-webkit-animation: gameCellWinner 1.5s ease-in-out;
	animation: gameCellWinner 1.5s ease-in-out;
}

#robco-info-panel {
	float: right;
	width: 386px;
	height: 386px;
	position: relative;
}

#robco-info-panel.robco-gamebot-turn-active:before {
	content: "Wait";
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	top: 7px;
	right: 7px;
	text-align: center;
	background: #00ff00;
	color: black;
	line-height: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-animation: spinner 1s infinite;
	animation: spinner 1s infinite;
	animation-delay: 1s;
	font-size: 20px;
}

#robco-info-panel .robco-turn-message {
	padding: 10px;
	border: 3px solid;
	text-align: center;
	text-transform: uppercase;
}

#robco-turns-list {
	padding: 10px;
	margin-top: 10px;
	height: 296px;
	overflow-y: auto;
	border: 3px solid;
	font-size: 20px;
}

#robco-turns-list > li {
	padding: 10px 0 10px 10px;
}

#robco-turns-list > li.robco-gamebot-turn-details {
	background: rgba(0, 255, 0, 0.18);
	padding: 10px 0 0 10px;
}

#robco-turns-list .mm-robco-turn-item-details {
	line-height: 25px;
	padding: 10px 0 10px 24px;
	font-size: 23px;
	letter-spacing: 1px;
}

/* END: Game field */

/* START: IMPORT/EXPORT config */

#robco-import-input,
#robco-terminal .robco-export-fake-base64 {
	display: none;
}

#robco-config-panel {
	overflow-x: hidden;
	overflow-y: auto;
	height: 347px;
	margin-bottom: 34px;
}

#robco-config-panel .robco-current-config-active {
	background-color: #00ff00;
	color: #004300;
}

/* END: IMPORT/EXPORT config */

/* START: PROMPT MESSAGES */

#robco-overlay-prompt {
	position: absolute;
	width: 800px;
	height: 620px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
	display: none;
	opacity: 0;
}

#robco-overlay-prompt.robco-prompt-active {
	display: block;
	opacity: 1;
}

#robco-overlay-prompt .robco-prompt-main {
	position: absolute;
	width: 400px;
	height: 300px;
	text-align: center;
	background: #000;
	padding: 20px;
	border: 3px solid;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1000;
	display: none;
	opacity: 0;
}

#robco-overlay-prompt.robco-prompt-active .robco-prompt-main {
	display: block;
	opacity: 1;
	-webkit-animation: promptActive 0.5s ease-in-out;
	animation: promptActive 0.5s ease-in-out;
}

#robco-overlay-prompt .robco-prompt-submit-group {
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: center;
	width: 100%;
}

#robco-overlay-prompt .robco-prompt-submit  {
	text-transform: uppercase;
	background-color: #00ff00;
	color: #004300;
	display: inline-block;
	width: 100px;
	padding: 4px 0;
	border: 3px solid transparent;
	-webkit-transition: background-color 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
	box-sizing: border-box;
	text-align: center;
	margin: 0 4px;
}

#robco-overlay-prompt .robco-prompt-submit:hover {
	border: 3px solid;
	background-color: transparent;
	color: inherit;
}

#robco-overlay-prompt .robco-prompt-main h3 {
	text-transform: uppercase;
}

#robco-overlay-prompt .robco-prompt-main p {
	padding: 20px 0;
}

/* END: PROMPT MESSAGES */

