<div id="robco-terminal">

	<!-- Page titles -->
	<div class="robco-heading-container">
		<h1 class="robco-heading">{{configPage.heading}}</h1>
		<p class="robco-sub-heading">{{configPage.subHeading}}</p>
	</div>

	<!-- Configs panel -->
	<div id="robco-config-panel">

		<!-- Available configs list -->
		<p class="robco-panel-heading">Choose current Personality Mode:</p>
		<ul class="robco-panel robco-title-panel">
			<li data-ng-repeat="config in configPage.savedConfigs"
				robco-keyboard-sound>
				<a href="#"
				   class="robco-current-config robco-italic-style"
				   data-ng-class="{'robco-current-config-active': config.isActive}"
				   robco-current-config
				   robco-prevent-click>
					&bull; {{config.name}}
				</a>
			</li>
		</ul>

	</div>

	<!-- Import/Export config -->
	<ul class="robco-panel">
		<li robco-keyboard-sound
			robco-import-new-config>
			<a href="#"
			   robco-prevent-click
			   class="robco-import-fake">
				[{{configPage.importConfigLink}}]
			</a>
			<a href="#"
			   robco-prevent-click
			   class="robco-export-fake">
				[{{configPage.exportConfigLink}}]
			</a>
			<a class="robco-export-fake-base64" href=""></a>
			<input type="file" id="robco-import-input">
		</li>
	</ul>

	<!-- Back button -->
	<ul class="robco-panel">
		<li robco-keyboard-sound>
			<a href="#home">[Back]</a>
		</li>
	</ul>

</div>