<div id="robco-terminal">

	<div class="robco-heading-container">
		<h1 class="robco-heading">{{homepage.heading}}</h1>
		<p class="robco-sub-heading">{{homepage.subHeading}}</p>
	</div>

	<ul class="robco-panel">
		<li data-ng-repeat="config in homepage.menuConfig"
			data-ng-class="{'robco-check-config': config.isConfigRequestNeeded}"
			robco-config-checker
			robco-keyboard-sound>
			<a href="#{{config.page}}">[{{config.text}}]</a>
		</li>
	</ul>

</div>