<div id="robco-terminal">

	<div class="robco-heading-container">
		<h1 class="robco-heading">{{config.learnPage.heading}}</h1>
		<p class="robco-sub-heading">{{config.learnPage.subHeading}}</p>
	</div>

	<ul id="robco-game-field">
		<li data-ng-repeat="cell in config.gameField.cells"
			class="robco-game-grid-item"
			data-ng-class="{'robco-item-winner': cell.itemWinner}"
			data-ng-click="gameSession.makeTurn($index)"
			data-marker="{{cell.dataMarker}}"
			robco-keyboard-sound>
			<i>{{$index + 1}}</i>
		</li>
	</ul>

	<div id="robco-info-panel"
		 data-ng-class="{'robco-gamebot-turn-active': config.gameField.disabled}">
		<p class="robco-turn-message">{{config.infoField.turn}}</p>
		<ul id="robco-turns-list">
			<li class="robco-turn-item"
				data-ng-repeat="log in config.infoField.turnsLog"
				data-ng-class="{'robco-gamebot-turn-details': !log.isUser}">
				<span class="robco-turn-item-counter">
					&bull; Turn #{{log.turnNumber}}
					<span data-ng-if="log.isUser">[Your turn]:</span>
					<span data-ng-if="!log.isUser">[Game Bot's turn]:</span>
				</span>
				<div class="mm-robco-turn-item-details"
					 data-ng-if="!log.isUser" >
					{{log.combination}}<br/>
					{{log.ratio}}<br/>
					{{log.selectedCell}}<br/>
				</div>
			</li>
		</ul>
	</div>

	<ul class="robco-panel robco-bottom-panel">
		<li robco-keyboard-sound robco-prevent-click>
			<a href="#" data-ng-click="config.savePersonalityMode()">
				[Save current Personality Mode]
			</a>
		</li>
		<li robco-keyboard-sound>
			<a href="#home">[Back]</a>
		</li>
	</ul>

</div>