<div id="robco-terminal">

	<div class="robco-heading-container">
		<h1 class="robco-heading">{{config.playPage.heading}}</h1>
		<p class="robco-sub-heading">{{config.playPage.subHeading}}</p>
	</div>

	<ul id="robco-game-field">
		<li data-ng-repeat="cell in config.gameField.cells"
			class="robco-game-grid-item"
			data-ng-class="{'robco-item-winner': cell.itemWinner}"
			data-ng-click="gameSession.makeTurn($index)"
			data-marker="{{cell.dataMarker}}"
			robco-keyboard-sound>
		</li>
	</ul>

	<div id="robco-info-panel"
		 data-ng-class="{'robco-gamebot-turn-active': config.gameField.disabled}">
		<p class="robco-turn-message">{{config.infoField.turn}}</p>
	</div>

	<ul class="robco-panel robco-bottom-panel">
		<li robco-keyboard-sound>
			<a href="#home">[Back]</a>
		</li>
	</ul>

</div>