<div id="robco-overlay-prompt"
	 data-ng-controller="promptCtrl"
	 ng-class="{'robco-prompt-active': prompt.isActive}">
	<div class="robco-prompt-main">
		<h3>{{prompt.title}}</h3>
		<p>{{prompt.message}}</p>
		<div class="robco-prompt-submit-group">
			<span class="robco-prompt-submit"
				  data-ng-click="prompt.agreeAction(); prompt.hide()">
				{{prompt.submitText}}
			</span>
			<span class="robco-prompt-submit"
				  data-ng-show="prompt.isConfirmPrompt"
				  data-ng-click="prompt.hide()">
				{{prompt.cancelText}}
			</span>
		</div>
	</div>
</div>